*{
  box-sizing: border-box;
  margin: auto;

}
body{
  background-image: url("https://i.ytimg.com/vi/50AF-uFpRtc/maxresdefault.jpg");
}
.bgImage{
  max-width: 100%;
  position: relative;
}
.realbgImage {
  z-index: -1;
  max-width: 100%;
  min-height: 100%;
  min-width: 524px;
  left: -50%;
  right: -50%;
  height: auto;

  position: fixed;

}

ul{
    display: flex;
    justify-content: space-around;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.tweetButton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.divImage{
  margin-top: 20px;
  width: 80%;
  background-color: inherit;
  position: relative;
  display: flex;
}
.imageLink{
  width: 60px;
}

.movie{
  position: fixed;
  margin-top: 1px;
  width: 114vh;
  max-width: : 1065px;
  height: 606px;
  left: -49%;
  right: -50%;

}
.foot{
  width: 10%;
  height: 99px;
  left:40%;
  right: 40%;
  background-color: inherit;
  position: fixed;
  top: 80%;
  text-align: center;
  display: none;
  color: #4CAF50;
}
footer{
  width: 100%;
  background-color: black;

}



@media (max-width: 900px) {
  .divImage{
    margin-top: 3px;

  }
  .foot{
    width: 20%;
    left: 40%;
    right: 40%;
  }
  ul{
      display: flex;
      flex-wrap: wrap;
  }
  .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 10px;
  }
  .movie{
    margin-top: 28px;
    max-height: 590px;
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  .movie{
    margin-top: 28px;
    max-height: 590px;
    max-width: 100%;
    left: -50%;
    right: -50%;
  }
  .foot{
    width: 20%;
    left: 25%;
    right: 55%;
  }
}
