<div class="">

  <img src={{test}} alt="">

  <button type="button" ng-click=ourPhoto('action') name="button">Action</button>
  <button type="button" ng-click=ourPhoto('drama') name="button">Drama</button>
  <button type="button" ng-click=ourPhoto('comedy') name="button">Comedy</button>
  <button type="button" ng-click=ourPhoto('fantasy') name="button">Fantasy</button>
  <button type="button" ng-click=ourPhoto('romance') name="button">Romance</button>
  <button type="button" ng-click=ourPhoto('sci-fi') name="button">Sci-Fil</button>
  <button type="button" ng-click=ourPhoto('thriller') name="button">Thriller</button>
  <button type="button" ng-click=ourPhoto('western') name="button">Western</button>

</div>
