body{
  background-image: url("https://ak5.picdn.net/shutterstock/videos/784939/thumb/1.jpg");
}

.tweetButton{
  background-color: yellow; /* Green */

}
.button{
  background: linear-gradient(red,yellow);

}

.foot{
  display: flex;
  color: yellow;
}
